# exclude specific folder and file types
final/output
final/spatial
original_Karin_20190725/output
original_Karin_20190725/spatial
testing/output
testing/spatial

.vs
*.sln
*.pyproj

mxd
spatial
*.ini
*.gdb
*.mxd
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.xml
*.shx

*.pyc

*.nc